<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
</head>
<body>
<form>
  <input type="text" id="messageInput" placeholder="Type your message">
  <button type="submit">Send</button>
  </form>
  <ul id="messages">
  <% if (messages) { %>
   <% messages.forEach(message => { %>
    <li><%= message %></li>
   <% }) %>
  <% } %>
  </ul>
  <script>
    //   const socket = new WebSocket('wss://q73kqj12-3000.inc1.devtunnels.ms');
      const socket = new WebSocket('ws://192.168.43.111:3000');

    socket.onopen = function() {
      console.log('Connected to server');
    };

    socket.onmessage = function(event) {
      let message = event.data;
      let reader = new FileReader();

// Define the onload event handler
reader.onload = (event) => {
    // The result attribute contains the data as a text string
    console.log(event.target.result);
    message = event.target.result
    const messageElement = document.createElement('li');
      messageElement.textContent = message;
      document.getElementById('messages').appendChild(messageElement);
};

// Read the Blob content as text
reader.readAsText(message);
      console.log(message)
    };
document.getElementsByTagName('form')[0].addEventListener('submit', (e) => {
    e.preventDefault()
    sendMessage()
})
    function sendMessage() {
      const messageInput = document.getElementById('messageInput');
      const message = messageInput.value;
      socket.send(message);
      messageInput.value = '';
    }

    socket.onclose = function() {
      console.log('Disconnected from server');
    };
  </script>
</body>
</html>
